<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Cubicle</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>

<body>
  <div class="container">
  
    {{#if currentCube}}
    <main>
      <img class="cube" src="{{currentCube.imageUrl}}">
      <div class="details">
        <p><span>Description:</span> {{currentCube.description}}</p>
        <p><span>Difficulty level:</span>{{currentCube.difficultyLevel}}</p>
        <a class="btn" href="/">Back</a>
      </div>
    </main>
    {{else}}
    <h1>Error (some error occurs...)</h1>
    {{/if}}
  </div>
</body>

</html>