<h1>Register form here</h1>
 <form method="POST" action="/users/register">
    <input type="text" name="email">
    <input type="text" name="password">
    <input type="text" name="rePassword">

    <button type="submit">submit</button>
    <br>
    <a href="/home/">Home</a>

</form>