extends layout

block content
  .main-container 
    form(method='get' action='/all')
         button.btn.btn-primary(class='click-me' type='submit') Go to All designs
    .row
      .d
        h1.display-4.m-b-2 Create Design

        form(method='POST' action='/') 
          div(class='create-box').form-group
            label(for='name') Your Name:
            input#name.form-control(type='text' placeholder='first and last' name='name')
          div(class='create-box').form-group
            label(for='imageUrl') Image URL:
            input#image.form-control(type='text' placeholder='//http:...' name='ImageUrl')
          div(class='create-box').form-group
            label(for='designStyle') Design style:
            input#designStyle.form-control(type='text' placeholder='title of book' name='designStyle')
          div(class='text-box').form-group
            textarea(type='text' placeholder='Type description here...' name="description" cols="35" rows="6")

          button.btn.btn-primary(class='click-me' type='submit') Submit
       
        
        