body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.row {
  border: gray 3px solid;
  box-shadow: 5px 10px #888888;
  margin: 20px;
  text-align: center;
  width: 40%;
  height: 400px;
  margin-left: 30%;
}

.create-box {
  /* border: #000000 1px solid; */
  font-size: medium;
  margin: 25px;
}

input {
  margin-left: 6px;
  font-size: medium;
}

div.image-box {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.text-container {
  text-align: center;
  padding: 10px 20px;
  background-color: rgb(234, 237, 247);
}

div.image-box img {
  height: 100%;
  width: 100%;
}
