body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.row {
  border: gray 3px solid;
  box-shadow: 5px 10px #888888;
  margin: 20px;
  text-align: center;
  width: 40%;
  height: 400px;
  margin-left: 30%;
}

.create-box {
  /* border: #000000 1px solid; */
  font-size: medium;
  margin: 25px;
}

input {
  margin-left: 6px;
  font-size: medium;
}

img {
  height: 150px;
  width: 200px;
}

div.item-container {
  width: 60%;
  height: 158px;
  border: red solid 4px;
  border: #6585ec 3px solid;
  box-shadow: 5px 10px #6585ec;
}

div.image-box {
  float: right;
}

div.text-container {
  float: left;
}

.design-box{
  list-style-type: none;
  margin: 15px;
}

.click-me{
  margin: 5px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

p{
  margin: 6px;
  padding: 6px;
  border-radius: 10px;
  border: black 1px solid;
}

p.user-name{
  background-color: #7FDBFF;
}

p.design-style{
  background-color: #39CCCC;
}

p.description{
  background-color: khaki;
}
